.border1,
td,
th {
  border: 1px solid black;
  padding: 4px;
}

.in1 {
  width: 4rem;
}

body {
    background:darkgrey;
}

.payperiodname {
    
    font-weight: bold;
    color: black;
    font-family: "Roboto", sans-serif;
}

.roboto-norm {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.nunito-norm {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.show {

  display:block
}